@import './common.scss';

.pageContainer{
  @extend .page;
  background-color: #4880E8;
  flex-direction: column;
}

.pageMain{
  padding:5vw;
}

.card{
  background-color:#5CBBFF;
  width:90vw;
  height:30vw;
  border-radius: 3vw;
  box-shadow: 1px 1px 3px #333;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3vw;
}

.cardLastPractice{
  @extend .card;
  height: 16vw;
}

.cardWrongRecord{
  @extend .card;
  background-color:orange;
}

.cardChapterPractice{
  @extend .card;
  background-color:#2ED17E;
}

.cardHandPractice{
  @extend .card;
  background-color:#84DA34;
}

.cardUnitTest{
  @extend .card;
  background-color: #F3619A;
}

.mockTest{
  @extend .card;
  background-color: #8476FF;
}

.title{
  color:#FFF;
  font-size:20px;
}
