@import './common.scss';

.pageContainer{
  @extend .page;
  background-color: #4880E8;
  flex-direction: column;
}

.pageMain{
  padding:10vw;
}

.card{
  background-color:#5CBBFF;
  width:80vw;
  height:30vw;
  border-radius: 5vw;
  box-shadow: 1px 1px 3px #333;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3vw;
}

.title{
  color:#FFF;
}
